.top-nav {
position: absolute;
display: flex;
justify-content: space-between;
z-index: 3;
color: #FF4500;
font-size: 2.2rem;
top: 4%;
width: 75vw;
left: 12.5%;
}

.item{
position: relative;
cursor: pointer;
color: #FF4500; /* Default orange color */
text-decoration: none; /* Remove underline */
transition: color 0.3s ease; /* Smooth color transition */
}
.bhd14 {
    cursor: pointer;
    z-index: 3;
    width: 9vw; 
    height: 7vh;
}

.item.active {
  color: white; /* Change to white when active */
}

.item::after {
content: '';
position: absolute;
right: 0; /* Start from the right */
bottom: -2px; /* Position the line slightly below the text */
width: 0;
height: 2px;
background-color: #FF4500; /* Orange underline */
transition: width 0.3s ease; /* Smooth animation for the line */
}

.item.active::after {
width: 100%; /* Full underline for active item */
}

.item:hover {
color: white; /* Change text color to white on hover */
}

.item:hover::after {
width: 100%; /* Expand the line to full width on hover */
right: 0; /* Keep it aligned to the right */
}

.bhd14logo {
position: absolute;
top: 3%;
left: 2.5vw;
width: 4rem ;
z-index: 2;
}

.peleLogo {
position: absolute; 
top: 3%;
right: 2.5vw;
width: 5.5rem ;
z-index: 2;
}
@media (max-width: 1150px) {
    .top-nav {
      font-size: 2rem; /* Reduce font size for smaller screens */
      width: 95%; /* Adjust width */
      left: 2.5%; /* Adjust left padding */
    }
  
    .bhd14logo, .peleLogo {
      display: none;
    }

  }

  

  @media (max-width: 480px) {
    .top-nav {
      font-size: 1rem; /* Further reduce font size */
      flex-direction: column; /* Stack items vertically */
      align-items: center;
      top: 6%; /* Adjust top position */
      width: 100%; /* Full width */
      left: 0; /* Remove left padding */
    }
  
    .item {
      margin-bottom: 10px; /* Add spacing between items */
    }
  
    .bhd14logo, .peleLogo {
   
      width: 3rem; /* Scale logos further */
      bottom: 2%; /* Adjust top position */
    }
  }